{% extends "shop/base.html" %}
{% block content %}
<style>
    body {
      background-color:rgb(213, 222, 231);
    }
</style>
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Nos Produits Disponibles</h2>
    <ul class="list-group shadow-sm">
        {% for product in products %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ product.title }}
                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-primary btn-sm">Voir Détails</a>
            </li>
        {% empty %}
            <li class="list-group-item text-muted text-center">Aucun produit disponible pour le moment.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
